body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 100;
}
p, a, span, h1, h2 {
    color: #0e1a35;
}
h3, h4, h5, h6 {
    color: #fff;
}
.header {
    background-image: url(../images/Graph.png), linear-gradient(to bottom, rgba(14, 26, 53, 1) 0%, rgba(14, 26, 53, 1) 100%);
    background-position: center;
    background-size: cover;
}
.header-text h1 {
    color: #fff;
}
@media screen and (min-width: 768px) {
    .header-text {
        margin-top: 100px;
    }

    .header-text h1 {
        font-weight: 100;
        font-size: 60px;
        color: #fff;
    }

    .header-text p {
        font-size: 36px;
        color: #8492af;
    }
}

.header-text p {
    color: #8492af;
}

.main-nav li a {
    color: #fff !important;
    font-size: 18px;

}

.main-nav li a:hover {
    color: #c1d5ff !important;
}

.navbar img {
    height: 70px;
}

nav {
    margin-top: 50px;
}

.btn-login {
    border-radius: 25px;
    padding: 10px 40px;
}

.btn-get {
    padding: 10px 55px;
    border-radius: 25px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.heder-image {
    margin-top: 30px;
}

.heder-image img {
    box-shadow: 2px 0 80px -30px #5584ff;
}

.advantages {
    margin-top: 100px;
}

.advantages-item i {
    font-size: 70px;
    color: #5584ff;
}

.advantages-item h3 {
    font-size: 24px;
    font-weight: bold;
    color: #0e1a35;
}

.advantages-item p {
    color: #8492af;
    font-size: 18px;
    font-weight: 400;
    padding-bottom:
}

.advantages-item a {
    text-decoration: none;
    color: #0e1a35;
    font-weight: bold;
    padding: 15px 50px;
    border-radius: 25px;
    border: solid #dadee7 1px;
}

@media screen and (min-width: 990px) {
    .advantages-item a {
        text-decoration: none;
        color: #0e1a35;
        font-weight: bold;
        padding: 15px 85px;
        border-radius: 25px;
        border: solid #c9d2e6 1px;
    }
}

.advantages-item svg {
    display: none;

}

@media screen and (min-width: 1025px) {
    .advantages-item svg {
        display: inline-block;
        position: absolute;
        top: 35px;
        left: 260px;

    }
}

.about-browser h2 {
    font-weight: 100;
    font-size: 60px;
}

.about-browser p {
    color: #8492af;
    font-size: 18px;
    max-width: 680px;
}

.about-browser {
    padding-top: 100px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f6f7fa+35,f6f7fa+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f7fa 35%, #f6f7fa 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f7fa 35%, #f6f7fa 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #f6f7fa 35%, #f6f7fa 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f7fa', GradientType=0);
    /* IE6-9 */

    background-image: url(../images/Graph.png), linear-gradient(top, #ffffff 0%, #f6f7fa 35%, #f6f7fa 100%);
}

@media screen and (min-width: 1025px) {
    .about-browser {
        padding-top: 250px;
        padding-left: 265px;
    }
}

.image-tech { 
}

.image-tech img {
    position: absolute;

}

.about-browser .checd-punct {
    color: #5584ff;
    font-size: 22px;
    display: flex;
    align-items: center;
}
.ccc {
    overflow: hidden;
    height: 700px;
}

.about-browser .checd-punct i {
    font-size: 35px;
    padding-right: 15px;
}
.drag-drop {
    background-image: url(../images/Graph.png), linear-gradient(to bottom, rgba(14, 26, 53, 1) 0%, rgba(14, 26, 53, 1) 100%);
    background-position: center;
    background-size: cover;
}
